<nav class="navbar navbar-dark">
  <a class="navbar-brand" ui-sref="cellar">
    L?
  </a>

  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item" ui-sref-active="active">
        <a class="nav-link" ui-sref="cellar">My Cellar</a>
      </li>
      <li class="nav-item" ui-sref-active="active">
        <a class="nav-link" ui-sref="catalog">Wine Catalog</a>
      </li>
      <!--<li class="nav-item" ui-sref-active="active">-->
        <!--<a class="nav-link" ui-sref="wine({wid:123456})">wine</a>-->
      <!--</li>-->
    </ul>

    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item" ui-sref-active="active" ng-if="vm.cart.length">
        <a class="nav-link" ui-sref="cart">
          <i class="fa fa-shopping-cart"></i>
          <span class="label label-pill label-default" >{{vm.cart.length}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="fa fa-user"></i>
          <!-- TODO Gravatar -->
          {{vm.user.email}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-click="vm.signOut()" title="Sign Out">
          <i class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>
  </div>

</nav>
