// Colors
@bgWhite: #FFF;
@bgBlack: #000;
@bgRed: #ef6249;
@bgGray: #818a91;

@wineRed: #A00;
@wineWhite: #0A0;
@wineAmbre: #aa6e0b;
@wineRose: #B77CB9;

@wineBlockWidth: 24rem;
@wineBlockHeight: 34rem;
@wineImgWidth: 10rem;
@wineImgHeight: 10rem;

.VinBlanc {
  background-color: @wineWhite;
}

.VinRouge {
  background-color: @wineRed;
}

.VinAmbre, .VinAmbr {
  background-color: @wineAmbre;
}

.VinRose, .VinRos {
  background-color: @wineRose;
}

