.cellar {
  header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    h1 {
      display: inline;
      margin-right: 1em;
    }
    form {
      display: inline;
    }
  }

  .wines {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    .wine {
      display: inline-block;
      flex: 0 1 auto;
      width: @wineBlockWidth;
      height: @wineBlockHeight;
      margin: 0.25rem;
      text-align: center;

      .card-header {
        text-align: left;
        h3 {
          font-size: 1.25rem;
          .millesime {
            float: right;
          }
        }
        h4 {
          font-size: 0.8rem;
          text-overflow: ellipsis;
          max-height: 1rem;
        }
      }
      .wine-img {
        max-width: @wineImgWidth;
        max-height: @wineImgHeight;
      }
      .wine-actions {
        float: right;
      }
      .card-block {
        text-align: left;
      }
      .wine-kind {
        .label {
          font-size: 1.25rem;
          width: 100%;
        }
      }
      .wine-quantity {
        font-size: 1.25rem;
      }
    }
  }
}
