<div class="cellar">

  <header>
    <h1>My WineCellar</h1>
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input ng-model="vm.search.wine" type="text" class="form-control" placeholder="Search...">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </form>
  </header>

  <div class="wines">
    <div class="card wine" ng-repeat="stock in vm.cellar | filter:vm.search.wine as searchResult">

      <div class="card-header">
        <h3>
          <i class="fa fa-heart" ng-class="{'fa-heart':stock.favorite, 'fa-heart-o':!stock.favorite}"></i>
          <span class="appellation">{{stock.wine.appellation}}</span>
          <span class="millesime">{{stock.wine.millesime}}</span>
        </h3>
        <h4 class="text-muted">{{stock.wine.produit}}</h4>
      </div>

      <div class="card-block info">
        <wine-img wine="stock.wine"></wine-img>

        <div class="wine-actions">
          <span class="btn btn-secondary wine-quantity btn-block">{{stock.quantity}} Btls.</span>

            <wine-price category="stock.wine.priceCategory"></wine-price>

          <a class="btn btn-primary-outline btn-block" ng-click="vm.drink(stock.wine.id)">
            <i class="fa fa-glass"></i> Drink
          </a>
          <a class="btn btn-danger-outline btn-block" ng-click="vm.buy(stock.wine.id)">
            <i class="fa fa-cart-plus"></i> Buy
          </a>
        </div>

      </div>

      <div class="card-block wine-kind">
          <span class="label label-pill {{stock.wine.couleur | cssClass}}">
            {{stock.wine.region}} - {{stock.wine.couleur}}
          </span>
      </div>
      <div class="card-block actions">
        <a ui-sref="wine({wid: stock.wine.id})" class="btn btn-block btn-secondary-outline">Detail</a>
      </div>
      <div class="card-block">
        <p class="card-text" ng-show="stock.wine.accordsMetsVin">
          <i class="fa fa-cutlery"></i>
          {{stock.wine.accordsMetsVin}}
        </p>
      </div>

    </div>
  </div>

  <div class="alert alert-warning" role="alert" ng-if="!searchResult.length">
    <strong>Empty !</strong>
    <div ng-hide="vm.search.wine">No wine in you cellar</div>
    <div ng-show="vm.search.wine">No wine in you cellar matching your query</div>
  </div>

  <!--<pre>{{vm | json}}</pre>-->
</div>

